<body>

<nav class="navbar navbar-light bg-white border-bottom d-md-none">
<div class="container-fluid">

<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu">
<span class="navbar-toggler-icon"></span>
</button>

<span class="fw-bold">
<i class="bi bi-journal-bookmark-fill"></i> NoteNest
</span>

</div>
</nav>


<div class="offcanvas offcanvas-start" tabindex="-1" id="mobileMenu">
<div class="offcanvas-header">
<h5 class="offcanvas-title">NoteNest</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
</div>

<div class="offcanvas-body">

<a class="d-block mb-3" href="{% url 'dashboard' %}">
<i class="bi bi-speedometer2"></i> Dashboard
</a>

<a class="d-block mb-3" href="{% url 'notes:list' %}">
<i class="bi bi-file-earmark-text"></i> Notes
</a>

<a class="d-block mb-3" href="{% url 'assignments:list' %}">
<i class="bi bi-check2-square"></i> Assignments
</a>

<form method="post" action="{% url 'accounts:logout' %}">
{% csrf_token %}
<button class="btn btn-danger w-100">
<i class="bi bi-box-arrow-right"></i> Logout
</button>
</form>

</div>
</div>


<div class="container-fluid">
<div class="row">

{% if user.is_authenticated %}

<div class="col-md-2 sidebar d-none d-md-block">

<div class="brand">
<i class="bi bi-journal-bookmark-fill"></i> NoteNest
</div>

<a href="{% url 'dashboard' %}">
<i class="bi bi-speedometer2"></i> Dashboard
</a>

<a href="{% url 'notes:list' %}">
<i class="bi bi-file-earmark-text"></i> Notes
</a>

<a href="{% url 'assignments:list' %}">
<i class="bi bi-check2-square"></i> Assignments
</a>

<form method="post" action="{% url 'accounts:logout' %}">
{% csrf_token %}
<button class="btn btn-danger m-3 w-75">
<i class="bi bi-box-arrow-right"></i> Logout
</button>
</form>

</div>

<div class="col-12 col-md-10 main">

{% else %}

<div class="col-12 main">

{% endif %}

{% if messages %}
{% for message in messages %}

<div class="alert alert-{{ message.tags }} alert-dismissible fade show">
{{ message }}
<button class="btn-close" data-bs-dismiss="alert"></button>
</div>

{% endfor %}
{% endif %}

{% block content %}{% endblock %}

</div>

</div>
</div>